//COLORS

$color-primary-blue: #2D314D;
$color-primary-green: #32D15A;
$color-primary-cyan: #2BB9D9;

$color-gray:  hsl(233, 8%, 62%);
$color-gray-3: #F4F5F7;
$color-gray-1: hsl(220, 16%, 96%);
$color-gray-2:  hsl(0, 0%, 98%);

$color-white:  hsl(0, 0%, 100%);


//FONT

$default-font-size: 1.8rem;
$default-font: 'Public Sans', sans-serif;


